.main-events {
    overflow: hidden;

    .events {
        .container {
            .img-box {
                background-image: url('./../../img/action/action1.png');
                width: 100%;
                height: 505px;
                background-size: cover;
                background-position: center center;
            }
            .whole-events {
                margin: 100px 0;
                .box {
                    background: #F5F5F5;
                    padding: 20px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 1157px) {
    .main-events {
        .events {
            .container {
                .img-box {
                    height: 50vh;
                }
            }
        }
    }
}

@media only screen and (max-width: 901px) {
    .main-events {
        .events {
            .container {
                .img-box {
                    height: 40vh;
                }
            }
        }
    }
}


@media only screen and (max-width: 708px) {
    .main-events {
        .events {
            .container {
                .img-box {
                    height: 35vh;
                }
            }
        }
    }
}

@media only screen and (max-width: 534px) {
    .main-events {
        .events {
            .container {
                .img-box {
                    height: 35vh;
                }
            }
        }
    }
}