.works {
    .main-photo {
        background-image: url('./../../img//works/main-works.jpg');
        width: 100%;
        height: 505px;
        background-size: cover;
        background-position: center center;
    }

    .whole-works {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-works {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 2em;
            margin-bottom: 30px;

        }

        .works-1 {
            img {
                max-width: 90vw;
            }

            .text-photo {
                margin-top: 15px;
                font-size: 1.2em;
                text-align: center;
            }
        }

        .works-2 {
            margin-top: 50px;
            width: 90vw;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;

            .box {
                img {
                    max-width: 100%;

                }

                .text-photo {
                    margin-top: 15px;
                    font-size: 1.2em;
                    text-align: center;
                }
            }
        }

        .container-work2-mobile {
            display: none;
            margin-top: 50px;
            width: 90vw;

            .swiper-pagination  {
                margin-bottom: 50px;

                .swiper-pagination-bullet {
                    margin: 0 15px;
                }
            }

            .box {
                width: 100%;
                img {
                    max-width: 100%;

                }

                .text-photo {
                    margin-top: 15px;
                    font-size: 1.2em;
                    text-align: center;
                }
            }
        }

        .container-work3-mobile {
            display: none;
        }

        .works-3 {
            margin-top: 50px;
            width: 90vw;
            height: 1000px;
            overflow: hidden;


            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1.2fr 1fr 2fr 5fr;
            grid-template-rows: 3fr;
            grid-template-areas:
                'a a a f f f f f'
                'b d d f f f f f'
                'c d d f f f f f'
                'c e e f f f f f';

            div {
                color: #fff;
                border-radius: 5px;


                img {
                    width: 100%;
                }
            }

            .a {
                grid-column: 1 /3;
                grid-area: a;
            }

            .b {
                grid-area: b;
            }

            .c {
                grid-area: c;
            }

            .d {
                grid-area: d;
            }

            .e {
                grid-area: e;
            }

            .f {
                grid-area: f;
            }
        }

        .works-4,
        .works-8 {
            margin-top: 50px;
            width: 90vw;
            display: flex;
            justify-content: space-between;

            .box {
                max-width: 44vw;

                img {
                    width: 100%;
                }

                .text-photo {
                    margin-top: 15px;
                    font-size: 1.2em;
                    text-align: center;
                }
            }
        }

        .works-5,
        .works-6 {
            margin-top: 50px;
            width: 90vw;

            .box {
                img {
                    max-width: 100%;
                }
            }

            .text-photo {
                margin-top: 15px;
                font-size: 1.2em;
                text-align: center;
            }
        }

        .works-7 {
            margin-top: 50px;
            width: 90vw;
            display: flex;
            justify-content: space-between;

            .box {
                width: 44vw;

                img {
                    max-width: 100%;
                }

                .text-photo {
                    margin-top: 15px;
                    font-size: 1.2em;
                    text-align: center;
                }
            }

            .box:first-child {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .text-photo {
                    justify-self: flex-end;
                }
            }
        }

        .container-work9-mobile {
            display: none;
        }

        .works-9 {
            padding-bottom: 20px;
            overflow: hidden;
            margin-top: 30px;
            width: 90vw;
            height: 800px;

            display: grid;
            grid-gap: 30px;
            grid-template-columns: 2.3fr 1fr 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);

            div {

                color: #fff;
                border-radius: 5px;

                font-size: 150%;

                img {
                    width: 100%
                }
            }


            .a {
                grid-column: 3 / 5;
            }

            .b {
                grid-column: 1 / 3;
                grid-row: 1 / 4;
            }

            .c {
                grid-column: 3 / 5;
            }
        }

        .text-last,
        .text-third {
            margin-top: 15px;
            font-size: 1.2em;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 1157px) {
    .works {
        .main-photo {
            height: 50vh;
        }
    }
}

@media only screen and (max-width: 901px) {
    .works {
        .main-photo {
            height: 40vh;
        }
    }
}

@media only screen and (max-width: 708px) {
    .works {
        .main-photo {
            height: 30vh;
        }
    }
}

@media only screen and (max-width: 534px) {
    .works {
        .main-photo {
            height: 20vh;
        }
    }
}

@media only screen and (max-width: 728px) {
    .works {
        .whole-works {
            .text-works {
                font-size: 1.5em;

            }
        }
    }
}

@media only screen and (max-width: 715px) {
    .works {
        .whole-works {
            .works-2 {
                display: none;

                .box {
                    img {
                        max-width: 100%;

                    }

                    .text-photo {
                        margin-top: 15px;
                        font-size: 1.2em;
                        text-align: center;
                    }
                }
            }

            .container-work2-mobile {
                display: flex;
            }

            .works-4,
            .works-8 {
                margin-top: 50px;
                width: 90vw;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                grid-gap: 30px;

                .box {
                    max-width: 100%;

                    img {
                        max-width: 100%;
                    }

                    .text-photo {
                        margin-top: 15px;
                        font-size: 1.2em;
                        text-align: center;
                    }
                }
            }

            .works-7 {
                margin-top: 50px;
                width: 90vw;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                grid-gap: 30px;

                .box {
                    width: 100%;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1520px) {
    .works {
        .whole-works {

            .container-work3,
            .container-work9 {
                display: none;

                .works-3 {
                    display: none;
                }
            }

            .container-work3-mobile,
            .container-work9-mobile {
                display: block;
                margin-top: 30px;

                img {
                    max-width: 90vw;
                }

                .text-photo {
                    margin-top: 15px;
                    font-size: 1.2em;
                    text-align: center;
                }
            }

            .works-9 {
                grid-template-rows: 1fr;
                grid-template-columns: 1fr;
                height: 500px;

                .a,
                .f,
                .c,
                .d,
                .e {
                    display: none;
                }
            }
        }
    }
}