.main-contact {
    .contacts {
        display: flex;
        justify-content: center;
        margin: 100px 0;

        .container {
            width: 90vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 45px;

            .img-box {
                img {
                    max-width: 100%;
                }
            }

            .form {
                h3 {
                    font-size: 25px;
                    margin-bottom: 24px;
                    text-transform: uppercase;
                    font-weight: normal;
                }

                .text-from {
                    text-align: center;
                    font-size: 24px;
                    font-weight: normal;
                    text-transform: uppercase;
                }

                p {
                    margin-bottom: 10px;
                }

                p:last-child {
                    margin-bottom: 0px;
                }

                .input-block {
                    display: grid;
                    grid-template-columns: 1fr;
                    margin-bottom: 15px;

                    input {
                        margin-bottom: 10px;
                    }
                }

                .textarea {
                    input {
                        margin-bottom: 50px;
                    }
                }

                .checkbox {
                    .first {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .block-button {
                    margin-top: 20px;
                    text-align: center;

                    button {
                        color: #c4c4c4;
                        text-decoration: none;
                        background: #888686;
                        font-size: 20px;
                        padding: 8px 20px 10px 20px;
                        border: none;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: all .4s;
                    }

                    button:hover {
                        color: #000;

                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .main-contact {
        .contacts {
            .container {
                width: 90vw;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                grid-gap: 45px;
            }
        }
    }
}