.gallary {
    overflow: hidden;
    .gallary-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        .photo-gallary {
            background-image: url('./../../img/gallary/main-photo.png');
            width: 100%;
            height: 505px;
            background-size: cover;
            background-position: center center;
        }

        .main-gallary {
            width: 90vw;

            .block-img {
                margin-top: 70px;

                img {
                    max-width: 100%;
                }
            }

            .block-about {
                margin-top: 70px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px;

                .box {
                    img {
                        max-width: 100%;
                    }
                }

                .box-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .text {

                        width: 30vw;

                        p {
                            text-align: center;
                            margin-bottom: 50px;
                        }

                        p:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
            }

            .block-photos {
                margin-top: 70px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px;

                .box {
                    img {
                        max-width: 100%;
                    }
                }
            }

            .img-block {
                margin-top: 70px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px;

                .box {
                    img {
                        max-width: 100%;
                    }
                }

                .box-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .text {
                        p {
                            text-align: center;
                            margin-bottom: 50px;
                        }

                        p:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
            }

            .block-reviews {
                margin: 70px 0;
                width: 90vw;

                h3 {
                    text-transform: uppercase;
                    font-size: 25px;
                    text-align: center;
                    font-weight: normal;
                    margin-bottom: 40px;
                }

                .slider {
                    background: linear-gradient(90deg, rgba(252, 182, 159, 0.2) 0%, rgba(255, 236, 210, 0.2) 100%);
                    padding: 30px;
                    
                    .jdgYsc {
                        background-color: none;
                        background: linear-gradient(90deg, rgba(252, 182, 159, 0.2) 0%, rgba(255, 236, 210, 0.2) 100%);
                        box-shadow: none;
                    }

                    .jdgYsc:hover:enabled, .jdgYsc:focus:enabled {
                        color: #000;
                    }

                    .cRRAGG {
                        box-shadow: none;
                    }

                }

            }
        }
    }
}

.card {
    width: 100%;
    height: 400px;
    color: #fff;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .box {
        p {
            margin-top: 30px;
            text-align: center;
        }
    }
}

#spinner {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: rgba(75, 75, 73, 0.452);
    color: #fff;
    right: 3%;
    bottom: 10%;

    svg {
        font-size: 30px;
        position: absolute;
        bottom: 12px;
        right: 12px;

    }
}

#spinner:hover {
    color: #fff;
    background-color: rgb(51, 51, 51);

    svg {}
}


@media only screen and (max-width: 1157px) {
    .gallary {
        .gallary-box {
            .photo-gallary {
                height: 50vh;
            }
        }
    }
}

@media only screen and (max-width: 941px) {
    .gallary {
        .gallary-box {
            .main-gallary {
                .block-about {
                    .box-text {
                        .text {
                            p {
                                margin-bottom: 30px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 853px) {
    .gallary {
        .gallary-box {
            .main-gallary {
                .block-about {
                    .box-text {
                        .text {
                            p {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 830px) {
    .gallary {
        .gallary-box {
            .main-gallary {
                .block-about {
                    margin-top: 70px;
                    display: flex;
                    flex-direction: column;

                    .box-text {
                        .text {
                            width: 90vw;
                            p {
                                text-align: left;
                                text-indent: 15px;
                                font-size: 1em;
                            }
                        }
                    }
                }

                .block-photos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    #spinner {
        display: none;
    }
}


@media only screen and (max-width: 901px) {
    .gallary {
        .gallary-box {
            .photo-gallary {
                height: 40vh;
            }
            .main-gallary {
                .img-block {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
    
                    .box-text {
                        .text {
                            p {
                                text-align: left;
                                margin-bottom: 15px;
                                text-indent: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 708px) {
    .gallary {
        .gallary-box {
            .photo-gallary {
                height: 30vh;
            }
        }
    }
}

@media only screen and (max-width: 534px) {
    .gallary {
        .gallary-box {
            .photo-gallary {
                height: 20vh;
            }
        }
    }
}