.header {
    .header_menu {
        width: 90vw;
        margin: 41px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .img_logo {
            .logo {
                display: flex;
                flex-direction: column;

                img {
                    width: 126px;
                    height: 126px;
                }
            }
        }

        .container {
            .active {
                color: #ACACAC;
                transition: all .4s;
            }

            a {
                margin-right: 100px;
                transition: all .4s;
            }

            a:hover {
                color: #ACACAC;
                transition: all .4s;
            }

            a:last-child {
                margin-right: 0;
            }
        }
    }
}